* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card1 {
    background-color: rgb(197, 255, 255);
}

.card2 {
    background-color: rgb(224, 192, 253);
}

.card3 {
    background-color: rgb(255, 255, 185);
}

.card1,
.card2,
.card3 {
    padding: 10%;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-stamp_grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 7px;
    align-items: center;
}

.stamp-title {
    align-self: flex-start;
    padding: 5% 0;
}

.img-thumbnail {
    max-width: 100%;
}

.card-img-top {
    max-width: 100%;
}

h5,
p,
small {
    align-self: flex-start;
    padding-top: 10px;
}

h5,
p {
    font-size: 15px;
}

body {
    background: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    width: 300px;
}

@media (min-width: 1024px) {
    small {
        font-size: 1em;
    }
    h5 {
        font-size: 1.5em;
    }
    p {
        font-size: 1.2em;
    }
}