header {
    background: #2EB2FF;
    position: fixed;
    width: 100%;
    padding: 15px;
    z-index: 2;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

#menu_on {
    width: 10%;
    height: 20px;
    position: relative;
    z-index: 2;
    float: right;
    margin-top: 2%;
}

#menu_on:hover {
    cursor: pointer;
}

#menu_on span {
    width: 100%;
    height: 4px;
    border-radius: 4px;
    display: block;
    position: absolute;
    background: #fff;
    transition: all 0.75s ease;
    transform-origin: 0px 100%;
}

#home {
    margin-left: 35%;
    margin-bottom: 5%;
    margin-right: 10%;
    color: #2EB2FF;
    font-size: 250%;
    width: 10%;
    text-align: center;
    cursor: pointer;
    float: left;
}

#list {
    color: #2EB2FF;
}

.fas {
    background-color: transparent;
    border: none;
    font-size: 250%;
    width: 10%;
    text-align: center;
    color: white;
    cursor: pointer;
}

.text-start {
    padding: 2.5%;
    width: 45%;
    float: left;
    color: white;
    font-size: 130%;
}

#menu_on span:nth-child(2) {
    top: calc(50% - 2px);
}

#menu_on span:nth-child(3) {
    bottom: 0;
}

.visible_menu span:nth-child(1) {
    transform: rotate(45deg) translate(-3px, -1px);
}

.visible_menu span:nth-child(2) {
    opacity: 0;
}

.visible_menu span:nth-child(3) {
    transform: rotate(-45deg) translate(3px, 1px);
}

nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 100%;
    width: 100%;
    z-index: 1;
    padding: 25% 8%;
    padding-bottom: 5%;
    background: #68C5DB;
    opacity: 1;
    transition: all 0.75s ease;
    overflow-y: auto;
}

.visible_menu nav {
    left: 0;
    opacity: 1;
}

nav a {
    font-size: 160%;
    display: block;
    text-decoration: none;
    padding-left: 24%;
    padding-top: 3%;
    padding-bottom: 6%;
    color: white;
    border-bottom: 2px solid white;
    transition: all ease 0.25s;
}

.profile {
    padding: 5%;
}

nav form {
    margin-top: 50%;
    border-bottom: 2px solid white;
    transition: all ease 0.25s;
}

#cerrar {
    background-color: transparent;
    color: white;
    padding: 3%;
    margin-left: 15%;
    width: 20%;
}

#sesion {
    cursor: pointer;
    position: absolute;
    margin-top: 4%;
    width: 40%;
    background-color: transparent;
    color: white;
    text-align: center;
    font-size: 160%;
    border: none;
}

nav a:hover {
    color: rgba(255, 255, 255, 1);
    border-bottom-color: rgba(255, 255, 255, 0.4);
}

#content {
    padding-top: 22%;
    transition: all 0.75s ease;
    z-index: 0;
}

.visible_menu #content {
    transform: translateX(260px);
}

@media (min-width: 1024px) {
    header {
        padding: 10px;
    }
    #menu_on {
        width: 5%;
        height: 35px;
        margin-top: 1%;
        margin-right: 6%;
    }
    #menu_on span {
        height: 8px;
    }
    #home {
        margin-bottom: 1%;
        margin-left: 37.5%;
        margin-right: 5%;
        font-size: 425%;
    }
    .fas {
        font-size: 425%;
    }
    .text-start {
        padding: 1%;
        font-size: 200%;
    }
    #menu_on span:nth-child(2) {
        top: calc(50% - 4px);
    }
    nav {
        padding: 6% 5%;
        padding-bottom: 0%;
        width: 50%;
        margin-left: 50%;
    }
    nav a {
        padding-left: 20%;
    }
    .profile {
        padding: 5%;
    }
    nav form {
        margin-top: 30%;
    }
    #cerrar {
        margin-left: 27.5%;
        width: 10%;
    }
    #sesion {
        margin-top: 5%;
        width: 30%;
    }
    nav a:hover {
        color: rgba(255, 255, 255, 1);
        border-bottom-color: rgba(255, 255, 255, 0.4);
    }
    nav form:hover {
        color: rgba(255, 255, 255, 1);
        border-bottom-color: rgba(255, 255, 255, 0.4);
    }
    #content {
        margin-bottom: 0%;
        padding-top: 6.6%;
        transition: all 0.75s ease;
        z-index: 0;
    }
    .listCartas {
        display: none;
    }
    .listLocales {
        display: none;
    }
}

.visible_menu #content {
    transform: translateX(0px);
}


/* @media (min-width: 768px) {
    header {
        padding: 20px;
    }
    #menu_on {
        width: 8%;
        margin-top: 2%;
    }
    #home {
        margin-bottom: 3%;
        font-size: 350%;
    }
    .fas {
        font-size: 350%;
    }
    .text-start {
        padding-top: 2%;
    }
    #menu_on span:nth-child(2) {
        top: calc(50% - 3.6px);
    }
    nav {
        padding: 15% 6%;
        width: 50%;
        margin-left: 50%;
    }
    nav a {
        padding-left: 25%;
    }
    .profile {
        padding: 5%;
    }
    nav form {
        margin-top: 30%;
    }
    #cerrar {
        margin-left: 27.5%;
        width: 10%;
    }
    #sesion {
        margin-top: 5%;
        width: 30%;
    }
    nav a:hover {
        color: rgba(255, 255, 255, 1);
        border-bottom-color: rgba(255, 255, 255, 0.4);
    }
    nav form:hover {
        color: rgba(255, 255, 255, 1);
        border-bottom-color: rgba(255, 255, 255, 0.4);
    }
    #content {
        margin-bottom: 0%;
        padding-top: 6.6%;
        transition: all 0.75s ease;
        z-index: 0;
    }
    .visible_menu #content {
        transform: translateX(0px);
    } */


/* } */