header {
    background: #2EB2FF;
    position: fixed;
    width: 100%;
    padding: 15px;
    z-index: 2;
}

#menu_on {
    /* display: inline-block; */
    width: 30%;
    height: 20px;
    position: relative;
    z-index: 2;
    float: right;
    background-color: red;
}

#menu_on:hover {
    cursor: pointer;
}

#menu_on span {
    width: 35%;
    height: 4px;
    border-radius: 4px;
    display: block;
    position: absolute;
    background: #fff;
    transition: all 0.25s ease;
    transform-origin: 0px 100%;
    margin-left: 65%;
}

.container {
    background-color: green;
    width: 40%;
    text-align: center;
}

.fas {
    background-color: red;
}

.text-start {
    background-color: red;
    width: 30%;
    float: left;
}

#menu_on span:nth-child(2) {
    top: calc(50% - 2px);
}

#menu_on span:nth-child(3) {
    bottom: 0;
}

.visible_menu span:nth-child(1) {
    transform: rotate(45deg) translate(-2px, 1px);
}

.visible_menu span:nth-child(2) {
    opacity: 0;
}

.visible_menu span:nth-child(3) {
    transform: rotate(-45deg) translate(-3px, 3px);
}

nav {
    /* margin-left: 100%; */
    position: fixed;
    top: 0;
    bottom: 0;
    left: 100%;
    width: 100%;
    z-index: 1;
    padding: 90px 30px;
    background: #68C5DB;
    opacity: 0;
    transition: all 0.75s ease;
    overflow-y: auto;
}

.visible_menu nav {
    left: 0;
    opacity: 1;
}

nav a {
    display: block;
    text-decoration: none;
    padding: 10px;
    color: rgba(255, 255, 255, 0.75);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    transition: all ease 0.25s;
}

nav a:hover {
    color: rgba(255, 255, 255, 1);
    border-bottom-color: rgba(255, 255, 255, 0.4);
}

#content {
    background-color: red;
    padding-top: 25%;
    transition: all 0.75s ease;
    z-index: 0;
}

.visible_menu #content {
    transform: translateX(260px);
}