* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#gr{
    margin: 0 10%;
}
@media (min-width: 1024px) {
    .gr__item{
        width: 80%;
    }
    #gr{
        display: grid;
        grid-template-columns: 55% 55%;
    }
}
