.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 8%;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    /* Could be more or less, depending on screen size */
    border-radius: 7px;
}

body {
    font-family: 'Mulish', sans-serif;
    /* font-size: 14px; */
    color: #000;
    margin: 0%;
}

.fas {
    background-color: transparent;
    border: none;
    font-size: 175%;
    width: 10%;
    text-align: center;
    color: white;
    cursor: pointer;
}

#close {
    font-size: 2.2em;
    border-radius: 5px 0;
    background: transparent;
    border: none;
    cursor: pointer;
    align-self: flex-end;
    float: right !important;
}

.close {
    font-size: 2.2em;
    border-radius: 5px 0;
    background: transparent;
    border: none;
    cursor: pointer;
    align-self: flex-end;
    float: right !important;
}

header {
    background: #58D68D;
    position: fixed;
    width: 100%;
    padding: 4%;
    z-index: 2;
}

#list {
    font-size: 250%;
    width: 15%;
    text-align: center;
    cursor: pointer;
    float: left;
    margin-top: 1%;
    /* margin-right: 25%; */
}

#camara {
    width: 15%;
    color: white !important;
    cursor: pointer;
    float: left;
    margin-right: 12%;
    font-size: 150%;
}

#menu_on {
    float: right;
    width: 10%;
    color: white;
    margin-top: 1%;
    margin-right: 12%;
}

#menu_on:hover {
    cursor: pointer;
}

.far {
    font-size: 270%;
    color: white;
}

#content {
    padding-top: 25%;
    transition: all 0.75s ease;
    z-index: 0;
}

.visible_menu #content {
    transform: translateX(260px);
}

nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 100%;
    width: 100%;
    z-index: 1;
    padding: 15% 8%;
    padding-bottom: 5%;
    background: #82E0AA;
    opacity: 1;
    transition: all 0.75s ease;
    overflow-y: auto;
}

.visible_menu nav {
    left: 0;
    opacity: 1;
}

.profile {
    padding: 20% 0% 4% 0%;
    border-bottom: 2px solid white;
    width: 85%;
}

#link {
    /* height: 40%; */
    font-size: 140%;
    margin-left: 10%;
    text-decoration: none;
    color: white;
}

#icono {
    float: left;
    padding-left: 4%;
    margin-top: -2%;
    transition: all ease 0.25s;
}

nav div:hover {
    border-bottom: 2px solid rgb(54, 141, 54) !important;
}

.cerrar {
    width: 90%;
    margin-left: 5%;
    margin-top: 50%;
    border-bottom: 2px solid white;
    transition: all ease 0.25s;
}

#cerSes {
    margin-top: 20%;
    padding: 1%;
    border: 2px solid rgb(54, 141, 54);
    border-radius: 10px;
    width: 65%;
    margin-left: 10%;
}

#cerrar {
    background-color: transparent;
    color: white;
    width: 20%;
    margin-left: 5%;
}

#sesion {
    cursor: pointer;
    position: absolute;
    margin-top: 1%;
    width: 50%;
    background-color: transparent;
    color: white;
    text-align: left;
    font-size: 140%;
    border: none;
}

@media (min-width: 440px) {
    .fas {
        margin-top: 1%;
        font-size: 200%;
    }
    header {
        padding: 2%;
    }
    #list {
        font-size: 280%;
        margin-top: 0.75%;
        margin-right: 30%;
    }
    #camara {
        width: 7%;
    }
    #menu_on {
        width: 10%;
        color: white;
        margin-top: 0.75%;
        margin-right: 8%;
    }
    .far {
        font-size: 300%;
        color: white;
    }
    #content {
        padding-top: 12%;
    }
    .visible_menu #content {
        transform: translateX(0px);
    }
    nav {
        /* position: static; */
        padding: 12% 5%;
        width: 50%;
        margin-left: 50%;
    }
    .profile {
        width: 75%;
        padding: 12% 10% 4% 0%;
    }
    #link {
        font-size: 130%;
        text-decoration: none;
        color: white;
    }
    #cerSes {
        margin-top: 15%;
        width: 50%;
        margin-left: 13%;
    }
    #cerrar {
        background-color: transparent;
        color: white;
        padding: 3%;
        width: 20%;
        margin-left: 7%;
    }
    #sesion {
        margin-top: 3%;
        width: 40%;
        font-size: 130%;
        margin-top: 2.5%
    }
}

@media (min-width: 1024px) {
    .modal {
        width: 100%;
        margin-top: 0%;
    }
    .modal-content {
        margin-top: 3.75%;
        width: 50%;
    }
    .fas {
        margin-top: 1%;
        font-size: 260%;
    }
    header {
        padding: 1%;
    }
    #list {
        width: 5%;
        font-size: 350%;
        margin-top: 0.5%;
        margin-left: 5%;
        margin-right: 35%;
    }
    #camara {
        width: 5%;
    }
    #menu_on {
        width: 4%;
        margin-top: 0.5%;
    }
    .far {
        font-size: 370%;
        color: white;
    }
    #content {
        padding-top: 8%;
    }
    .visible_menu #content {
        transform: translateX(0px);
    }
    nav {
        padding: 6% 5%;
    }
    .profile {
        padding: 6% 5% 4% 0%;
    }
    #link {
        height: 20%;
        font-size: 130%;
        margin-left: 8%;
        text-decoration: none;
        color: white;
    }
    .cerrar {
        width: 90%;
        margin-left: 5%;
        margin-top: 50%;
        border-bottom: 2px solid white;
        transition: all ease 0.25s;
    }
    #cerSes {
        margin-top: 5%;
        padding: 0%;
        width: 35%;
        margin-left: 22.5%;
    }
    #cerrar {
        background-color: transparent;
        color: white;
        width: 20%;
        margin-left: 5%;
        font-size: 200%;
    }
    #sesion {
        margin-top: 1%;
        width: 40%;
        font-size: 130%;
        border: none;
    }
}

.listCartas {
    display: none;
}

.listLocales {
    display: none;
}