#list {
    font-size: 250%;
    width: 15%;
    text-align: center;
    cursor: pointer;
    float: left;
    margin-top: 1%;
}

#admi {
    width: 70%;
    color: white !important;
    cursor: pointer;
    float: left;
    margin: 1% 0% 0% -30%;
    font-size: 250%;
    text-decoration: none;
    /* text-align: center; */
}

#menu_on {
    float: right;
    width: 10%;
    color: white;
    margin-top: 1%;
    margin-right: 5%;
}


/* cuerpo */

#card {
    padding: 3%;
    width: 90%;
    margin-left: 5%;
    border-radius: 8px;
    /* background-color: red; */
    -webkit-box-shadow: 0px 0px 10px 5px #8C8C8C;
    box-shadow: 0px 0px 10px 5px #8C8C8C;
}

.text-center {
    background-color: rgb(255, 198, 198);
    border-bottom: 1px solid black;
}

.col-sm-8 {
    /* background-color: red; */
    margin-top: 5%;
}

.m-b-20 {
    text-align: center;
}